.top-row-keyboard-btn {
  flex: 1;
  padding: 0.25rem;
}

.keyboard-btn {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.invisible-btn {
  opacity: 0;
  pointer-events: none;
}

.power-btn {
  border-radius: 0.25rem;
  background: rgb(15, 15, 15);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px -3px 10px rgba(35, 35, 35, 0.85) inset,
    0px 2px 3px rgb(9, 252, 159, 1);
}

@media screen and (max-width: 1050px) {
  .keyboard-btn p {
    font-size: 1rem;
  }
}
