.samples-container {
  padding: 0rem var(--mainPaddingX);
  position: relative;
}

.samples-main-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: var(--perspective);
  transform: rotateX(90deg) translateY(20rem);
  animation: growperspective 3s forwards;
}

@property --perspective {
  syntax: "<length>";
  inherits: false;
  initial-value: 200px;
}

@keyframes growperspective {
  100% {
    transform: rotateX(0deg) translateY(0rem);
    --perspective: 2000px;
  }
}

.carousel-btns-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  position: relative;

  /* height: 850px; */
}

/* .absolute-container {
  position: absolute;

  border: 2px solid green;
  bottom: 0;
} */

/* .focused-sample-display-col {
  flex: 1;
  border: 2px solid red;
  display: none;
} */

/* .focused-sample-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  transform: translateY(-35rem) scale(0);
  display: none;
} */

/* .showfocused_sample {
  animation: showfocused_sample 1s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes showfocused_sample {
  0% {
    transform: scale(0.5) translateY(-35rem);
  }
  100% {
    transform: scale(1) translateY(0rem);
  }
} */
/* .focused-img-div {
  height: 300px;
  width: 400px;
  position: relative;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 25%;
  overflow: hidden;
}

.site-description {
  width: 200px;
  font-size: 1.2rem;
}

.focused-img-div img {
  position: relative;
  height: 100%;
  width: 100%;
} */

/* .focused-text-col {
  text-align: center;
}

.technologies {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
} */

.mobile-laptop-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  transform: translateY(100px);
  border: 2px solid pink;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 650px) {
  .samples-header {
    height: 150px;
  }
  .samples-header-div-one {
    transform: translateX(-80px) translateY(-15px);
  }

  .samples-header-div-two {
    transform: scale(3);
  }

  .samples-header-div-three {
    transform: translateX(80px) translateY(50px);
  }
}
