.keyboard-row {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.keyboard-btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px -5px 5px rgba(35, 35, 35, 0.65) inset,
    0px 0px 0px rgb(9, 252, 159, 0.75);
}

.illuminate-keyboard {
  animation: illuminatekeys 1s 2s forwards;
}

@keyframes illuminatekeys {
  100% {
    box-shadow: 0px -5px 5px rgba(35, 35, 35, 0.65) inset,
      0px 2px 0px rgb(9, 252, 159, 0.75);
  }
}

.keyboard-btn:hover {
  box-shadow: 0px -3px 10px rgba(35, 35, 35, 0.85) inset,
    0px 2px 3px rgb(9, 252, 159, 1);
  transition: 0.5s ease-out;
}

.flex-2-btn {
  flex: 2;
}

.space-bar {
  flex: 10;
  min-width: 150px;
}

@media screen and (max-width: 850px) {
  .keyboard-btn {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  .space-bar {
    min-width: fit-content;
  }
}
