.browser-page-content {
  position: relative;
  /* border: 3px solid red; */
  flex-grow: 1;
  padding: 1rem;
  background: radial-gradient(var(--mainBg1), var(--mainBg2));
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  font-weight: 200;
}

header h4 {
  font-weight: 200;
}

.user-info-flex-1 {
  /* flex: 1; */
  margin: 0 1rem;
}

.avatar-img {
  height: 85px;
  width: 85px;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px black;
}

.user-info h5 {
  font-size: 1.2rem;
  font-weight: 200;
}

.skills {
  margin: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.skill-item {
  margin: 0.5rem;
}

.samples-carousel {
  position: relative;
  display: flex;
  width: 100%;
  border: 2px solid green;
}

.sample-img {
  height: 85px;
  width: 75px;
}
