.browser-page-content {
  position: relative;
  /* border: 3px solid red; */
  flex-grow: 1;
  padding: 1rem;
  z-index: 5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: radial-gradient(var(--mainBg1), var(--mainBg2));
}

.browser-page-content::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 150%;
  background: var(--mainBg2);
  border-radius: 5rem;
  border-bottom-right-radius: 35%;
  z-index: -1;
  top: 2rem;
  left: -15%;
  top: -15%;
  transform: rotate(15deg);
  filter: blur(5px);
  opacity: 65%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  font-weight: 200;
  gap: 5rem;
}

header h4 {
  font-weight: 200;
  font-size: 2rem;
}

.user-info-flex-1 {
  /* flex: 1; */
  margin: 0 1rem;
}

.header-icon-div {
  font-size: 2.5rem;
  position: relative;
}

.shadow-header-icon {
  position: absolute;
  inset: 0;
  filter: blur(2px);
  transform: scale(1.2);
}

.browserpage-header-text-row {
  display: flex;
  gap: 0.5rem;
}

.avatar-img {
  height: 85px;
  width: 85px;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px black;
}

.user-info h5 {
  font-size: 1.2rem;
  font-weight: 200;
}

.skills {
  margin: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.skill-item {
  margin: 0.5rem;
}

.samples {
  /* border: 3px solid pink; */
  flex-grow: 1;
  position: relative;
  margin: 1rem;
}

.samples-carousel {
  display: flex;
  width: 100%;
  /* border: 5px solid green; */
  position: relative;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  gap: 0.5rem;
  /* z-index: 50; */
}

.sample-proj-item {
  height: 100%;
  flex: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 4px var(--mainColor);
  /* border: 3px solid red; */

  /* transform: rotateY(15deg); */
}

.sample-img-div {
  height: 100%;
}

.sample-img {
  height: 100%;
  width: 100%;
}
