.header {
  /* border: 5px solid pink; */
  position: relative;
  font-family: var(--primaryFont);
}

.header-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5rem 12rem; */
}

.header-layer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 5rem 12rem;

  /* padding: 5rem 12rem; */

  /* border: 4px solid red; */
}

.top-flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
  height: 175px;
  /* border: 2px solid blue; */
}

.top-flex-title-div {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-flex-h1 {
  font-size: 13.5rem;
}

.top-flex-h1-top,
.h1-quotes-top {
  color: white;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black,
    0px -1px 0px black;
}

.captions-box {
  /* border: 2px solid red; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.caption-div h3 {
  font-weight: 200;
}

.bold {
  font-weight: 700;
  font-size: 3rem;
}

.h1-title {
  font-size: 17rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.bottom-flex-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.h1-quotes {
  font-size: 15rem;
}

.blurb-div {
  width: 450px;
}

.blurb-div p {
  font-size: 2rem;
}

@media screen and (max-width: 1150px) {
  .top-flex-row {
    height: 100px;
  }
  .top-flex-h1,
  .h1-quotes {
    font-size: 7.5rem;
  }
  .h1-title {
    font-size: 11.5rem;
    text-transform: uppercase;
    letter-spacing: 0.65rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 650px) {
  .header-layer {
    /* padding: 5rem 1.2rem; */
    /* border: 5px solid red; */
  }

  .quotes-div {
    position: absolute;
    bottom: -3.5rem;
    /* opacity: 0.85; */
    /* bottom: -4rem; */
  }

  .header-layer-content {
    width: 100%;
    /* border: 4px solid orange; */
    margin: 5rem 1.2rem;
  }
  .top-flex-row {
    padding: 0rem 1rem;
  }
  .bottom-flex-row {
    padding: 0rem;
    justify-content: center;
    align-items: center;
  }
  .h1-title {
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
  }

  .top-flex-h1 {
    font-size: 4.5rem;
    /* margin-right: 3rem; */
  }

  .blurb-div {
    width: 235px;
    text-align: center;
    position: relative;
    margin-top: 4rem;
    /* z-index: 5; */
  }

  .blurb-div p {
    font-size: 1.3rem;
  }
}
