.header {
  position: relative;
  font-family: var(--primaryFont);
  height: 100vh;
}

.header-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-layer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5rem 12rem;
  /* border: 4px solid red; */
}

.shiny-success {
  text-shadow: 2px 2px 5px white;
  /* color: red; */
}

.top-flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 175px;
  padding: 0 5rem;
}

.top-flex-title-div {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.top-flex-h1 {
  font-size: 13.5rem;
  line-height: 12rem;
}

.captions-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.caption-div h3 {
  font-weight: 200;
}

.em-h3 {
  margin-left: -0.5rem;
}

.bold {
  font-weight: 700;
  font-size: 3rem;
}

.h1-title {
  font-size: 17rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 2rem 0;
}

.bottom-flex-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.h1-quotes {
  font-size: 15rem;
}

.blurb-div {
  width: 450px;
}

.blurb-div p {
  font-size: 2rem;
}

@media screen and (max-width: 1150px) {
  .top-flex-row {
    height: 150px;
  }
  .top-flex-h1,
  .h1-quotes {
    font-size: 7.5rem;
  }
  .h1-title {
    font-size: 11.5rem;
    text-transform: uppercase;
    letter-spacing: 0.65rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 650px) {
  .quotes-div {
    position: absolute;
    bottom: -3.5rem;
  }

  .header-layer-content {
    padding: 2rem;
  }
  .top-flex-row {
    padding: 0rem 1rem;
  }
  .bottom-flex-row {
    padding: 0rem;
    justify-content: center;
    align-items: center;
  }
  .h1-title {
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
  }

  .top-flex-h1 {
    font-size: 4.5rem;
  }

  .blurb-div {
    width: 235px;
    text-align: center;
    position: relative;
    margin-top: 4rem;
    /* z-index: 5; */
  }

  .blurb-div p {
    font-size: 1.3rem;
  }
}
