.header {
  border: 2px solid black;
  position: relative;
  padding: 5rem 12rem;
}

.header-layer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-layer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 4px solid red;
  /* width: fit-content; */
  /* width: 100%; */
}

.top-flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid blue;
  padding: 0 5rem;
  height: 175px;
}

.top-flex-title-div {
  height: 100%;
  border: 2px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-flex-h1 {
  font-size: 13.5rem;
  /* margin-right: 3rem; */
}

.captions-box {
  /* padding3rem; */
  border: 2px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.h1-title {
  font-size: 17rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.bottom-flex-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.h1-quotes {
  font-size: 15rem;
}

.blurb-div {
  width: 450px;
}

.blurb-div p {
  font-size: 2rem;
}

@media screen and (max-width: 1150px) {
  /* .header {
    padding: 5rem;
  } */

  .top-flex-row {
    height: 100px;
  }
  .top-flex-h1,
  .h1-quotes {
    font-size: 8.5rem;
    /* margin-right: 3rem; */
  }
  .h1-title {
    font-size: 13rem;
    text-transform: uppercase;
    letter-spacing: 0.65rem;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 5rem 1.2rem;
  }

  .quotes-div {
    position: absolute;
    opacity: 0.5;
  }

  .header-layer-content {
    width: 100%;
  }
  .top-flex-row {
    padding: 0rem 1rem;
  }
  .bottom-flex-row {
    padding: 0rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .h1-title {
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
  }

  .top-flex-h1,
  .h1-quotes {
    font-size: 4.5rem;
    /* margin-right: 3rem; */
  }

  .blurb-div {
    width: 235px;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .blurb-div p {
    font-size: 1.2rem;
  }
}
