.laptop-parent {
  /* border: 2px solid red; */
  position: relative;
  /* width: clamp(75%, 500px, 100%); */
  max-width: 725px;
  margin: 0 auto;
}

.laptop {
  /* height: 750px; */
  width: 100%;
  /* border: 2px solid darkgray; */
  border-radius: 1rem;
  position: relative;
  /* overflow: hidden; */
}

.laptop::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: gray;
  bottom: 0px;
}

.laptop-top {
  transform-origin: bottom;
  transform: rotateX(180deg);
  position: relative;
  backface-visibility: hidden;
  z-index: 10;
}

.open-laptop {
  animation: openlaptop 1s 2s ease-out forwards;
}

@keyframes openlaptop {
  100% {
    transform: rotateX(0deg);
  }
}

.laptop-top-back-shell {
  background: radial-gradient(rgb(15, 15, 15), rgb(45, 45, 45));
  position: absolute;
  inset: 0;
  transform: rotateX(180deg);
  border-radius: 1rem;
  background: var(--mainBg1);
  background: radial-gradient(var(--mainBg1), var(--mainBg2));
}

.laptop-top-front {
  position: relative;
  background: radial-gradient(rgb(15, 15, 15), rgb(45, 45, 45));
  inset: 0;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: radial-gradient(var(--mainBg1), var(--mainBg2));
  /* box-shadow: 0px 0px 1px black inset; */
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-shadow: 0px -5px 2px rgba(25, 25, 25, 0.25) inset;
  padding-bottom: 2rem;
  /* border: 5px solid orange; */
}

.macbook-air-text {
  color: var(--mainColor);
  font-weight: 200;
  font-size: 1.2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0px 0px 5px var(--mainColor);
  bottom: 7.5px;
  /* margin: 0.25rem 0; */
}

.laptop-bottom {
  height: 50%;
  width: 100%;
  /* border: 2px solid blue; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(rgb(15, 15, 15), rgb(45, 45, 45));
  box-shadow: 0px 5px 15px black;
  background: var(--mainBg1);
  background: radial-gradient(var(--mainBg1), var(--mainBg2));
}

.keyboard-container {
  width: 100%;
  height: 60%;
}

.mouse-container {
  width: clamp(35%, 300px, 60%);
  height: 150px;
  /* border: 2px solid black; */
  margin: 3rem 0;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .mouse-container {
    height: 85px;
  }
}
