.header-layer-bottom {
  position: relative;
  background: black;
  color: white;
  filter: blur(200px);
  transform: scale(0);
  animation: clearblur 1s 0.25s forwards;
}

@keyframes clearblur {
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}

.top-flex-h1-bottom,
.h1-quotes-bottom {
  color: black;
  text-shadow: 1px 0px 0px white, -1px 0px 0px white, 0px 1px 0px white,
    0px -1px 0px white;
}
