.browser-row {
  display: flex;
  padding: 1rem;
}

.browser-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.browser-icon-item {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.browser-search-input {
  background: var(--mainBg2);
  color: var(--mainColor);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
}

.hamburger-dots {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  margin: 0rem 1rem;
}
