.browser-window {
  position: absolute;
  /* border: 5px solid orange; */
  inset: 0;
  transform: scale(0);
  color: var(--mainColor);
  border-radius: 0.5rem;
  overflow: hidden;
}

.open-browser-tab {
  animation: openbrowsertab 1s 12s forwards;
}

@keyframes openbrowsertab {
  100% {
    transform: scale(0.95);
  }
}

.browser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.browser-view-page {
  background: var(--mainBg1);
  flex-grow: 1;
  position: relative;
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  /* border-radius: 0.5rem; */
}

.browser-tab {
  background: var(--mainBg1);
  position: absolute;
  top: -24px;
  left: 65px;
  height: 25px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.browser-tab p {
  font-size: 0.85rem;
}
