.browser-window {
  position: absolute;
  /* border: 5px solid orange; */
  inset: 0;
  transform: scale(0);
  color: var(--mainColor);
  border-radius: 0.5rem;
  overflow: hidden;
}

.open-browser-tab {
  animation: openbrowsertab 1s 12s forwards;
}

@keyframes openbrowsertab {
  100% {
    transform: scale(0.95);
  }
}

.browser-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.browser-view-page {
  background: var(--mainBg1);
  flex-grow: 1;
  position: relative;
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  /* border-radius: 0.5rem; */
}

.browser-tab {
  background: var(--mainBg1);
  position: absolute;
  top: -24px;
  left: 65px;
  height: 25px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.browser-tab p {
  font-size: 0.85rem;
}

.browser-page-content {
  position: relative;
  /* border: 3px solid red; */
  flex-grow: 1;
  padding: 1rem;
  background: radial-gradient(var(--mainBg1), var(--mainBg2));
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  font-weight: 200;
}

header h4 {
  font-weight: 200;
}

.user-info-flex-1 {
  /* flex: 1; */
  margin: 0 1rem;
}

/* .user-info-flex-2 {
  flex: 2;
}  */

.avatar-img {
  height: 85px;
  width: 85px;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px black;
}

.user-info h5 {
  font-size: 1.2rem;
  font-weight: 200;
}

.skills {
  margin: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.skill-item {
  margin: 0.5rem;
}

.samples-carousel {
  position: relative;
  display: flex;
  width: 100%;
  border: 2px solid green;
}

.sample-img {
  height: 85px;
  width: 75px;
}
