.samples-header {
  position: relative;
  /* border: 2px solid green; */
  height: 250px;
  overflow: hidden;
}

.samples-header-h1-div {
  position: absolute;
  color: var(--mainColor);
}

.samples-header-div-one {
  transform: translateX(-120px) translateY(-45px);
  z-index: 2;
  text-shadow: 0px 0px 5px var(--mainBg1);
}

.samples-header-div-two {
  transform: scale(3);
  opacity: 50%;
}

.samples-header-div-three {
  transform: translateX(120px) translateY(50px);
  z-index: 2;
  text-shadow: 0px 0px 5px var(--mainBg1);
}

@media screen and (max-width: 1050px) {
  .samples-header {
    height: 200px;
  }
}
