.fixed-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem var(--mainPaddingX);
  position: sticky;
  top: 0;
  z-index: 10;
}

.fixed-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  backdrop-filter: blur(4.5px);
  height: 100px;
  left: 0;
  z-index: -1;
}

.fixed-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--mainBg1);
  opacity: 45%;
  z-index: -1;
}

.fixed-menu-logo {
  color: var(--mainColor);
  text-shadow: 2px 2px 4px var(--middleColor);
}

.theme-btn {
  cursor: pointer;
  width: 55px;
  height: 45px;
  border-radius: 2rem;
  position: relative;
  transition: 0.25s ease;
  background: var(--secondaryColor);
  outline: none;
  border: none;
  transition: 0.25s ease;
}

.theme-btn:hover {
  box-shadow: 0px 0px 2px black, 1px 2px 5px black inset;
}

.button-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun-icon {
  height: 30px;
  width: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animatesun 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes animatesun {
  0% {
    transform: rotate(360deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.sun {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid var(--mainColor);
}

.rays-container {
  position: absolute;
  inset: 0;
}

.ray {
  position: absolute;
  inset: 0;
  transform: scaleY(0);
}

.ray::after {
  content: "";
  height: 20%;
  width: 1px;
  background: var(--mainColor);
  position: absolute;
  left: 50%;
  transform: translateX(-1px);
}

@keyframes growray {
  100% {
    height: 20%;
  }
}

.ray-1 {
  transform: rotate(45deg);
}

.ray-2 {
  transform: rotate(90deg);
}

.ray-3 {
  transform: rotate(135deg);
}

.ray-4 {
  transform: rotate(180deg);
}

.ray-5 {
  transform: rotate(225deg);
}

.ray-6 {
  transform: rotate(270deg);
}

.ray-7 {
  transform: rotate(315deg);
}

.ray-8 {
  transform: rotate(360deg);
}

.moon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background: var(--mainColor);
  position: relative;
  transform: scale(0);
  animation: scalemoon 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes scalemoon {
  100% {
    transform: scale(1);
  }
}

.moon::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 30px;
  left: 12px;
  top: -3px;
  border-radius: 50%;
  background: var(--secondaryColor);
}
