.app[data-theme="light"] {
  --mainBg1: var(--white1);
  --mainBg2: var(--white2);
  --middleBg: var(--middlewhite);
  --secondaryBg1: var(--black1);
  --secondaryBg2: var(--black2);
  --middleBg: var(--middleblack);
  --middleColor: var(--middlewhite);
  --mainColor: var(--black1);
  --secondaryColor: var(--white1);
}
.app[data-theme="dark"] {
  --mainBg1: var(--black1);
  --mainBg2: var(--black2);
  --middleBg: var(--middleblack);
  --secondaryBg1: var(--white1);
  --secondaryBg2: var(--white2);
  --middleBg: var(--middlewhite);
  --middleColor: var(--middleblack);
  --mainColor: var(--white1);
  --secondaryColor: var(--black1);
}

.app {
  --primaryFont: var(--mozillaText);
  --secondaryFont: var(--outfitText);
  background: linear-gradient(var(--mainBg1), var(--mainBg2));
}

.app-content {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  font-family: var(--primaryFont);
}
