.app[data-theme="light"] {
}
.app[data-theme="dark"] {
}

.app {
  --primaryFont: var(--mozillaText);
  --secondaryFont: var(--outfitText);
}

.app-content {
  max-width: 144rem;
  margin: 0 auto;
  border: 4px solid black;
  position: relative;
  background: linear-gradient(rgb(10, 10, 10), rgb(40, 40, 40));
  /* height: 100vh;
  overflow-y: auto; */
}
