html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mozillaText: "Mozilla Text", sans-serif;
  --outfitText: "Outfit", sans-serif;
  --mainPaddingX: 12.5rem;
  --black1: rgb(35, 35, 35);
  --black2: rgb(100, 100, 100);
  --middleblack: rgb(
    75,
    75,
    75
  ); /*used for quotes to achieve 'transparent look' */
  --white1: rgb(235, 235, 235);
  --white2: rgb(200, 200, 200);
  --middlewhite: rgb(
    210,
    210,
    210
  ); /*used for quotes to achieve 'transparent look' */

  /* --black1: rgb(238, 255, 0);
  --black2: rgb(114, 245, 205);
  --middleblack: green; 
  --white1: purple;
  --white2: violet;
  --middlewhite: pink; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6.2rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.3rem;
}

p {
  font-size: 1.8rem;
}

@media screen and (max-width: 650px) {
  :root {
    --mainPaddingX: 2.5rem;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}
