html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mozillaText: "Mozilla Text", sans-serif;
  --outfitText: "Outfit", sans-serif;
  --mainPaddingX: 12.5rem;
}
