html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mozillaText: "Mozilla Text", sans-serif;
  --outfitText: "Outfit", sans-serif;
  --mainPaddingX: 12.5rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

@media screen and (max-width: 650px) {
  h3 {
    font-size: 1.8rem;
  }
}
