@property --percentX {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --percentY {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -50%;
}

@property --circleSize {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.header-layer-top {
  background: white;
  color: black;
  position: absolute;
  inset: 0;
  z-index: 5;
  --circleSize: 0%;

  clip-path: circle(var(--circleSize) at var(--percentX) var(--percentY));
  animation: movespotlight 1s 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes scaleup {
  100% {
    transform: scaleY(1);
  }
}

@keyframes movespotlight {
  100% {
    --percentX: 50%;
    --percentY: 50%;
  }
}

.top-flex-h1-top,
.h1-quotes-top {
  color: white;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black,
    0px -1px 0px black;
}
