.about-me-section {
  color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 5rem var(--mainPaddingX);
  overflow: hidden;
}

.about-me-section::after {
  content: "";
  width: 85%;
  height: 120%;
  background: var(--middleBg);
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 5rem;
  right: -15%;
  top: 0;
  transform: rotate(-15deg);
  opacity: 25%;
  filter: blur(15px);
}

.about-me-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  position: relative;
  text-shadow: 1px 1px 2px var(--secondaryColor);
}

.reversed {
  background: var(--mainColor);
  color: var(--mainBg1);
  border-radius: 0.25rem;
}

.about-me-cover {
  position: absolute;
  background: var(--mainBg1);
  inset: 0;
  transform-origin: bottom;
  z-index: 10;
}

.drop-cover {
  animation: dropcover 1.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes dropcover {
  100% {
    transform: scaleY(0);
  }
}

.about-me-content-container {
  width: 100%;
}
.about-me-content {
  padding: 3rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 3rem 0;
  height: 700px;

  /* border: 2px solid orange; */
}

.laptop-and-coffee {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;
  position: relative;
  z-index: 1;
}
