.about-me-section {
  color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* height: 75vh; */
  /* border: 2px solid red; */
  position: relative;
  padding: 2rem;
  height: 500vh;
}

.about-me-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.reversed {
  background: var(--mainBg1);
  color: var(--mainColor);
  border-radius: 0.25rem;
}

.about-me-cover {
  position: absolute;
  background: lightgray;
  inset: 0;
  transform-origin: bottom;
}

.drop-cover {
  animation: dropcover 1.5s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes dropcover {
  100% {
    transform: scaleY(0);
  }
}

.about-me-content-container {
  width: 100%;
}
.about-me-content {
  padding: 3rem 0;
  width: 100%;
  /* border: 2px solid orange; */
}

.laptop-and-coffee {
  /* border: 2px solid orange; */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.coffee-mug-parent {
  border: 5px solid orange;
  height: 250px;
  position: relative;
}

.coffee-mug {
  height: 150px;
  width: 150px;
  background: var(--mainColor);
  position: relative;
}

.coffee-mug-top {
  width: 100%;
  height: 80px;
  background: var(--mainColor);
  position: relative;
  left: 0;
  top: 40px;
  border-radius: 50%;
  border: 2px solid red;
  z-index: 5;
}

.coffee-mug-bottom {
  width: 100%;
  height: 80px;
  background: var(--mainColor);
  position: relative;
  left: 0;
  bottom: 40px;
  border-radius: 50%;
}

.laptop {
  height: 450px;
  width: 350px;
}

.laptop-top {
  height: 50%;
  width: 100%;
  /* border: 2px solid red; */
  transform: rotateX(180deg);
  transform-origin: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  z-index: 5;
}

.unfold-laptop {
  animation: unroll-laptop 2s 1s linear forwards;
}

.laptop-top-shell {
  position: absolute;
  inset: 0;
  background: black;
  transform: rotateX(180deg);
  /* z-index: 5; */
}

.laptop-monitor {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  /* border: 2px solid red; */
  background: white;
  box-shadow: 0px 0px 30px white;
  position: relative;
  z-index: 2;
  border-radius: 0.25rem;
}

@keyframes unroll-laptop {
  100% {
    transform: rotateX(0deg);
  }
}

.laptop-bottom {
  height: 50%;
  width: 100%;
  /* border: 2px solid red; */
  background: rgb(245, 245, 245);
  position: relative;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.laptop-keyboard {
  /* height: 55%; */
  width: 100%;
  background: rgb(185, 185, 185);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.keyboard-row {
  height: 25%;
  height: 25px;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.key {
  flex: 1;
  height: 100%;
  background: black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.top-keyboard-row .key:first-child,
.top-keyboard-row .key:last-child,
.middle-bottom-keyboard-row .key:first-child,
.middle-bottom-keyboard-row .key:last-child {
  flex: 2;
}

.bottom-keyboard-row {
  margin-bottom: 0;
}

.laptop-mouse-pad {
  width: 45%;
  height: 30%;
  border-radius: 0.25rem;
  background: rgb(185, 185, 185);
}

.laptop-bottom-edge {
  width: 100%;
  height: 10px;
  background: rgb(155, 155, 155);
  position: absolute;
  bottom: 0;
  left: 0;
}
